@import url('http://fonts.cdnfonts.com/css/pokemon-solid');

header {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: baseline;
  align-content: center;
  
}

img {
  width: 150px;
}

h1 {
  align-self: center;
  font-family: 'Pokemon Solid';
  font-size: 3rem;
  margin-bottom: 0;
}

